body {
  background-color: white;
  font: 13.34px Verdana, helvetica, arial, clean, sans-serif;
  *font-size: small;
  background: #222;
}

iframe { 
	margin: 0 15px;
}

a {
  color: #8A003D;
  text-decoration: none;
}

.content p a, .content ul a {
  color: #000;
	background: #AED180;
}

.content p a:hover, .content ul a:hover {
  color: #fff;
  background: #000;
}

a:visited {
}

p {
  text-align: left;
  padding: 8px 15px;
  line-height: 19px;
}

#disqus { background: #DEE6CF; padding: 10px; }
#dsq-content { width: 575px; }
#date { text-align: center; color: #333; font-size: 80%;}
#post img { padding: 10px; border: 2px solid #aaa; background: #eee; }
#feedburner {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0;
}

#counter { margin-left: 425px; }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.recent {
  list-style-type: square;
  list-style-position: outside;
  color: #FFFEE6;
  padding-left: 9px;
  font-size: 95%;
  text-align: left;
}

 .recent li {
    margin-bottom: 5px;
  }

  .recent a{ color: #AED180; } 
  .recent a:hover { color: #FFE3A3; text-decoration: underline; background: none; }

  ul.posts span {
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/


.title {
  margin: 20px 0;
}

.title h1 {
  display:inline;
}

.title h1 a {
  color: #92BF6F;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: "Consolas", "Monaco", "Courier New", "Courier", monospace;
}

.info div {
	text-align: right;
}

.info .extra {
  color: #aaa;
  text-decoration: none;
	margin-top: 35px;
  font-size: 16px;
}

.info .author {
	color: #fff;
	font-size: 11px;
	margin-top: 5px;
}

.content {
	background: #FFFEE6;
}

.white {
	background: #FFFFFF;
}

.links a, .links a:hover {
  color: #000;
	text-align: center;
  font-size: 80%;
	display: block;
	padding: 3px;
	background: #FFE3A3;
}

.links h3 { text-align: center; }

.links a:hover
{
	background: #AED180;
}

h2{
	padding: 10px;
	font-size: 21px;
	font-weight: normal;
	text-align: left;
	border-bottom: 2px solid #333;
	margin: 10px 15px;
}

h2 a { color: #000; }

h3{
  font-family: "Consolas", "Monaco", "Courier New", "Courier", monospace;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
  font-size: 16px;
}

#post h3{ margin-left: 5px; }


#green { color: #99FF80; }	
#red { color: #BF3030; }
#yellow { color: #B3B300; }
#blue { color: #809FFF; }
#purple { 
	text-align: center;
  padding: 0 0 5px; 
  color: #FF80FF;
}
  
.title a.extra:hover {
color: black;
}

.meta {
color: #aaa;
}

.footer {
  color: #666;
  margin-top: 1em;
  overflow: hidden;
  clear: both;
	text-align: center;
}

.footer a {
	color: #AED180;
	font-size: 16px;
	display:inline-block;
	padding: 10px;
	font-family: "Consolas", "Monaco", "Courier New", "Courier", monospace;
}

.footer a:hover {
	color: #E3DF8A;
	text-decoration: underline;
}


.footer .languages span, .footer .languages a {
	padding: 0;
	font-size: 12px;
}

.footer .languages {
	margin-bottom: 15px;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#more { 
  margin: 10px 0; 
  padding: 3px; 
  display:block; 
  font-size: 13px; 
  font-weight: bold; }

  /* standard */
  

  blockquote{
    font: 14px/22px normal helvetica, sans-serif;
    margin: 10px 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 5px solid #ccc;
    background-color: #eef;
  } 
  blockquote p { margin: 0; padding: 0; }
  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
    text-align: left; 
    font-size: 90%;
    margin: 0 15px;
    overflow: hidden;
  }
  
  code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
  }
  
    #post pre code {
      border: none;
    }
    
  /* terminal */
  
  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }
  
  #post pre.terminal code {
    background-color: #333;
  }

#post ul, #post ol {
	list-style-type: disc;
	text-align: left;
	margin-left: 40px;
}

#post li { margin-bottom: 3px; }


#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

.survey {
  font-size: 90%;
  text-align: center;
  padding: 5px;
  background: #AED180;
  margin-bottom: 20px;
}
