body {
  background-color: white;
  font: 13.34px Verdana, helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
  background: #222;
}

a {
  color: #8A003D;
  text-decoration: none;
}

.main a:hover {
  color: #000;
	background: #AED180;
}

a:visited {
}

pre { padding: 10px 15px; word-wrap: break-word; text-align: left; font-size: 90%; }

p {
  text-align: left;
  padding: 10px 15px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  padding-left: 2em;
  text-align: left;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/


.site {
  width: 600px;
  margin: 0 auto;
}

.title {
  margin: 2em 0;
}

.title h1 {
  display:inline;
}

.title h1 a {
  color: #92BF6F;
  font-weight: bold;
  margin-bottom: 2em;
  font-size: 50px;
  font-family: "Consolas", "Monaco", "Courier New", "Courier", monospace;
}

.site .title .extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
  font-size: 16px;
}

.site .wrapper {
}

.site .main {
	float: left;
	width: 400px;
	background: #FFFEE6;
}

.site .sidebar {
	float: left;
	width: 190px;
	margin-left: 10px;
}

.site .sidebar a, .site .sidebar a:hover {
  color: #000;
}

h2{
	padding: 10px;
	font-size: 21px;
	font-weight: normal;
	text-align: left;
	color: #000;
	border-bottom: 2px solid #333;
	margin: 10px 15px;
}

h3{
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
}

.sidebar div
{
	background: #FFE3A3;
}

.sidebar div a 
{
	display: block;
	padding: 3px;
}
.sidebar div a:hover
{
	background: #AED180;
}

#green { padding-top: 0; color: #99FF80; }	
#red { color: #BF3030; }
#yellow { color: #B3B300; }
#blue { color: #D8CFE6; }
  
.site .title a.extra:hover {
color: black;
}

.site .meta {
color: #aaa;
}

.site .footer {
  color: #666;
  margin-top: 1em;
  overflow: hidden;
  clear: both;
}

#counter {
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
	width: 100%;
}

.site .footer a {
	color: #AED180;
	font-size: 24px;
	display:inline-block;
	padding: 10px;
	font-family: "Consolas", "Monaco", "Courier New", "Courier", monospace;
}

.site .footer .rss {
}

.site .footer a:hover {
	color: #E3DF8A;
	text-decoration: underline;
}

.site .footer .rss img {
	border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  
}

  /* standard */
  
  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }
  
  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
  }
  
    #post pre code {
      border: none;
    }
    
  /* terminal */
  
  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }
  
  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
