body { 
  background: #e0e0c0;
}

#header {
  width: 100%;
  background: #e0c0a0;
  border-bottom: 3px solid #a08060;
  text-align: center;
}

h1 {
  font-family: "Consolas", "Monaco", "Courier New", "Courier", monospace;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -22px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 22px; /* .push must be the same height as .footer */
}

.footer {
  background: #808060;
  text-align: center;
  color: #000;
}

a {
  text-decoration: none;
}

.footer a {
  color: #e0e0e0;
}
.footer a:hover {
  color: #000;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
