body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: small;
  text-align: center;
  background: #333 url('/images/pixel-gray.gif');
}

a {
  color: #00a;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:visited {
  color: black;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  width: 600px;
  margin: 0 auto;
}

.title {
  margin: 2em 0;
}

.title h1 {
  display:inline;
}

.title h1 a {
  color: #92BF6F;
  font-weight: bold;
  margin-bottom: 2em;
  font-size: 50px;
  font-family: "Consolas", "Monaco", "Courier New", "Courier", monospace;
}

.site .title .extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
  font-size: 16px;
}

.site .wrapper {
	background: #FFECBF;
	height: 400px;
}

.site .main {
	float: left;
	width: 400px;
}
.site .sidebar {
	float: left;
	width: 200px;
}
  
  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
    color: #aaa;
  }

.site .footer {
  color: #666;
  margin-top: 2em;
  overflow: hidden;
  clear: both;
}

.site .footer a {
	color: #AED180;
	font-size: 24px;
	display:inline-block;
	padding: 10px;
	font-family: "Consolas", "Monaco", "Courier New", "Courier", monospace;
}

.site .footer .rss {
}

.site .footer a:hover {
	color: #E3DF8A;
	text-decoration: underline;
}

.site .footer .rss img {
	border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
  
}

  /* standard */
  
  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }
  
  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 95%;
    padding: 0 .2em;
  }
  
    #post pre code {
      border: none;
    }
    
  /* terminal */
  
  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }
  
  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
