Redirect permanent /2009/01/27/installing-git.html /beginner/2009/01/27/installing-git.html
Redirect permanent /2009/01/25/branching-and-merging.html /beginner/2009/01/25/branching-and-merging.html
Redirect permanent /2009/01/27/installing-git.html /beginner/2009/01/27/installing-git.html
Redirect permanent /2009/01/25/branching-and-merging.html /beginner/2009/01/25/branching-and-merging.html
Redirect permanent /2009/01/21/pushing-and-pulling.html /beginner/2009/01/21/pushing-and-pulling.html
Redirect permanent /2009/01/19/ignoring-files.html /beginner/2009/01/19/ignoring-files.html
Redirect permanent /2009/01/18/the-staging-area.html /beginner/2009/01/18/the-staging-area.html
Redirect permanent /2009/01/16/cleaning-up-untracked-files.html /beginner/2009/01/16/cleaning-up-untracked-files.html
Redirect permanent /2009/01/11/reverting-files.html /beginner/2009/01/11/reverting-files.html
Redirect permanent /2009/01/10/stashing-your-changes.html /beginner/2009/01/10/stashing-your-changes.html
Redirect permanent /2009/01/26/text-based-graph.html /intermediate/2009/01/26/text-based-graph.html
Redirect permanent /2009/01/24/sharing-your-changes.html /intermediate/2009/01/24/sharing-your-changes.html
Redirect permanent /2009/01/22/count-your-commits.html /intermediate/2009/01/22/count-your-commits.html
Redirect permanent /2009/01/26/text-based-graph.html /intermediate/2009/01/26/text-based-graph.html
Redirect permanent /2009/01/24/sharing-your-changes.html /intermediate/2009/01/24/sharing-your-changes.html
Redirect permanent /2009/01/22/count-your-commits.html /intermediate/2009/01/22/count-your-commits.html
Redirect permanent /2009/01/14/interactive-adding.html /intermediate/2009/01/14/interactive-adding.html
Redirect permanent /2009/01/13/visualizing-your-repo.html /intermediate/2009/01/13/visualizing-your-repo.html
Redirect permanent /2009/01/09/checkout-remote-tracked-branch.html /intermediate/2009/01/09/checkout-remote-tracked-branch.html
Redirect permanent /2009/01/28/zsh-git-status.html /advanced/2009/01/28/zsh-git-status.html
Redirect permanent /2009/01/23/bash-git-status.html /advanced/2009/01/23/bash-git-status.html
Redirect permanent /2009/01/28/zsh-git-status.html /advanced/2009/01/28/zsh-git-status.html
Redirect permanent /2009/01/23/bash-git-status.html /advanced/2009/01/23/bash-git-status.html
Redirect permanent /2009/01/20/bend-logs-to-your-will.html /advanced/2009/01/20/bend-logs-to-your-will.html
Redirect permanent /2009/01/17/restoring-lost-commits.html /advanced/2009/01/17/restoring-lost-commits.html
Redirect permanent /2009/01/15/piecemeal-staging.html /advanced/2009/01/15/piecemeal-staging.html
Redirect permanent /2009/01/12/fixing-broken-commit-messages.html /advanced/2009/01/12/fixing-broken-commit-messages.html
