<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>git ready &raquo; {{ page.title }}</title>
   <meta name="author" content="Nick Quaranto" />
   <link href="http://feeds2.feedburner.com/git-ready" rel="alternate" title="RSS" type="application/rss+xml" />
   <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="/css/960.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div class="container_12">
		<div class="grid_4 prefix_2 title">
			<h1><a href="/">git ready</a></h1>
		</div>
		<div class="grid_4 suffix_2 info">
			<div class="extra">Lerne Git Commit für Commit</div>
			<div class="author">von Nick Quaranto, Übersetzung von Nico Gulden</div>
		</div>
    <div class="grid_8 prefix_2 suffix_2 main">
      <div class="survey">
        Hast du einen Moment Zeit? Nimm bitte an der <a href="http://tinyurl.com/GitSurvey2009">Git Benutzerumfrage 2009</a> teil und laß uns wissen, wie du Git benutzt.
      </div>
      {{ content }}
    </div>
    <div class="grid_2 prefix_2 links">
      <h3 id="green">Anfänger</h3>
      {% for post in site.categories.beginner %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </div>
    <div class="grid_2 links">
      <h3 id="yellow">Fortgeschrittene Anfänger</h3>
      {% for post in site.categories.intermediate %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </div>
    <div class="grid_2 links">
      <h3 id="red">Fortgeschrittene</h3>
      {% for post in site.categories.advanced %}
        <a href="{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </div>
    <div class="grid_2 suffix_2 links">
      <h3 id="blue">Quellen</h3>
      <a href="http://book.git-scm.com">Git Community Book</a>
      <a href="http://github.com/guides">GitHub Guides</a>
      <a href="http://git.or.cz/gitwiki">GitWiki</a>
      <a href="http://gitcasts.com">GitCasts</a>
      <a href="http://www.kernel.org/pub/software/scm/git/docs/gittutorial.html">Git for everyone</a>
      <a href="http://git.or.cz/course/svn.html">Git-SVN Crash Course</a>
      <a href="http://cheat.errtheblog.com/s/git">$ cheat git</a>
      <a href="http://whygitisbetterthanx.com">Why Git is Better Than X</a>
      <a href="http://eagain.net/articles/git-for-computer-scientists/">Git for Computer Scientists</a>
      <a href="http://www-cs-students.stanford.edu/~blynn/gitmagic/">Git Magic</a>
      <a href="http://www.gitology.com/">Gitology</a>
      <a href="http://www.gitguru.com/">gitguru</a>
    </div>
    <div class="grid_12 footer">
			<div class="footer_links">
				<a href="/about.html">Über</a>
				<a href="http://github.com/qrush/gitready">Quellcode</a>
				<a href="/submit.html">Einen Tip einreichen</a>
				<a class="rss" href="http://feeds.feedburner.com/git-ready">RSS</a>
				<a href="http://twitter.com/gitready">Twitter</a>
			</div>
			<div class="languages">
				<span>Verfügbar in:</span>
				<a href="http://de.gitready.com">Deutsch</a> |
				<a href="http://pt-br.gitready.com">Portugiesisch</a> |
				<a href="http://gitready.com">Englisch</a> |
				<a href="http://github.com/qrush/gitready/blob/de/README.md">Deine Sprache?</a>
			</div>
      <div>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png" /></a>
      </div>
      <div id="counter">
        <script src="http://errcount.com/ctr/762.js"></script>
      </div>
   </div>
  </div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-6929260-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
  <div id="feedburner">
    <a href="http://feeds2.feedburner.com/git-ready"><img src="http://feeds2.feedburner.com/~fc/git-ready?bg=FFE3A3&amp;fg=000000&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>
  </div>
</body>
</html>
